.header{
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.logo{
  margin-left: 80px;
  height: 50px;
}

.search{
  display: flex;

}

.search-box{
  height: 45px;
  width: 350px;
  border-radius: 30px;
  text-indent: 25px;
  margin-left: 200px;
}

.search-icon{
  padding: 8px;
  padding-bottom: 3px;
  background: #ff515f;
  border-radius: 50%;
  border-color: rgb(187, 187, 187);
  position: relative;
  top: -13px;
  right: 43px;
  
}

.header-end{
  display: flex;
  margin-right: 80px;
}

.wish-link{
  text-decoration: none;
  position: relative;
  top: 17px;
}
.menu-wrap{
  display: flex;
  padding: 5px;
  margin-left: 30px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 30px;
  margin-top: 25px;
  position: relative;
  bottom: 20px;
}
.menu{
  font-size: 20px;
  position: relative;
  top: 10px;
  padding-left: 7px;
  padding-right: 7px;
}
.avatar{
  height: 20px;
}



.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid grey;
  padding: 3px;
  background-color: white;
}
